<%- include("partials/header") %>

<!--<div class= "ui main text container segment">
    <div class="ui huge header"> </div>
   
    
</div>
-->


        <img src="<%= blog.image %>">
<%- include("partials/footer") %>